header{
    gap: 50px;
    & #menu-toggle{
        display: none;
    }
    & .links{
        display: flex;
        gap: 45px;
        &-link{
            border-right: 3px solid white;
            padding-right: 5px;
            transition: 0.1s ease-in;
            &:hover{
                color: aqua;
                border-right: solid 5px aqua;
            }
            &:active{
                color: green;
                border-right: green solid 5px green;
            }
        }
    }
}

@media (max-width: 768px){
    header{
        gap: 25px;
        flex-direction: row;
        & #menu-toggle{
            display: block;
            border: solid 2px white;
            border-radius: 5px;
            background: black;
            color: white;
            cursor: pointer;
            transition: 0.1s ease-in;
            &:hover{
                background: blue;
            }
            &:active{
                background: aqua;
            }
        }
        & .links{
            display: none;
            & open{
                display: flex;
                flex-direction: column;
            }
        }
    }
}